.bg-black{
    background-color: black;
}

.content{
    margin: 0 auto;
    width: 1200px;
    color:white;
    display: flex;
    padding: 50px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
}